For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.
2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe.
3. To create the above dataframe:


The following two functions below allows us to scrape html tables using

    Python BeautifulSoup - python library for pulling data out of HTML and XML files, or
    Python lxml - simmilar library that supports scraping with xpath

In [1]:
import requests # library to handle requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import io


import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

In [2]:
#import our Toronto neighborhood csv to dataframe in Task 1

df = pd.read_csv("TorontoPart1_df.csv")
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [3]:
!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.5
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [4]:
# we need to get the latitude and the longitude coordinates of each neighborhood.
r = requests.get('https://cocl.us/Geospatial_data')#.content
geocsv_data = pd.read_csv("https://cocl.us/Geospatial_data")
geocsv_data = geocsv_data.rename(columns={"Postal Code": "Postcode"})
geocsv_data = geocsv_data.set_index('Postcode') #if not set index, it'd not be able to merge lat, lng
#"['Longitude', 'Latitude'] not in index"
geocsv_data.head()

           Latitude  Longitude
Postcode
M1B       43.806686 -79.194353
M1C       43.784535 -79.160497
M1E       43.763573 -79.188711
M1G       43.770992 -79.216917
M1H       43.773136 -79.239476

In [5]:
df = pd.merge(geocsv_data, df, on='Postcode')

# reorder column names and show the dataframe
df = df[['Postcode', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']]
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [6]:
df.to_csv('TorontoPart2_df.csv',index=False)